@model TuncDenizci.Models.MonthClass
@{
    ViewData["Title"] = "DetailExpense";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.m Ayı Gider Listesi</h2>
<br />
<a href="/Expense/NewExpense/" class="btn btn-primary" style="background-color:darkblue">Yeni Gider Ekleme</a>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Açıklama</th>
        <th>Tutar</th>
        <th>Gün</th>
        <th>Güncelle</th>
        <th>Ekleyen Kullanıcı</th>
    </tr>
    @foreach (var item in Model.ExpenseC)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Description</td>
            <td>@item.Amount</td>
            <td>@item.Day</td>
            <td><a href="/Expense/GetExpense/@item.Id" class="btn btn-success">Güncelle</a></td>
            <td>@item.LogUser</td>
        </tr>
    }
</table>
<h2>Toplam Tutar: @ViewBag.e</h2>

